.item {
    width: 15rem;
    height: 20rem;
    margin: 1rem;
    background: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10%;
    border: 1px solid gray;
}

.img {
    background: gray;
    height: 80%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
}

img {
    max-width: 200px;
}

.itemfooter {
    padding-bottom: 5%;
    text-align: center;
}

.itemfooter h3 {
    margin-block: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    background: white;
}