p {
    padding: 1rem;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid gray;
}

input {
    margin-block: auto;
    padding: 5px;
    border-radius: 5px;
    height: 1.2rem;
}

button {
    margin-block: auto;
    margin-right: 1rem;
    height: 2rem;
    width: 5rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    background: gainsboro;
}